body {
    background-color: rgb(255, 255, 255);
    margin: 20px;
}
main {
    border: 2px solid rgb(0, 0, 0);
    height: calc(100vh - 44px);
    margin-left: 5%;
    margin-right: 3%;
    
}
#send1 {
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
}
#from {
    margin-left: 20px;
}
p{
    font-family:'Courier New', Courier, monospace;
}
#recive {
    margin-left: 20px;
}
#rec1 {
    border: none;
    outline: none;
}