body {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    background-image: url(https://i.pinimg.com/1200x/85/71/e8/8571e8965958d51ba9c3ba993429051a.jpg);
    background-size: cover;
}
main {
    border: 2px solid white;
    height: calc(100vh - 44px);
    margin-left: 5%;
    margin-right: 3%;
    background-color: black;
    
}
#send1 {
    height: 40px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-right: 15px;
}
#from {
    margin-left: 20px;
    user-select: none;
}
p{
    font-family:'Courier New', Courier, monospace;
}
#recive {
    margin-left: 20px;
    user-select: none;
}
#rec1 {
    
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    border: none;
    outline: none;
    height: 20px;
    background-color: black;
    color: white;
}
.top {
    display: flex;
}

.left,
#send11 {
    flex: 1;
    
}

#send11{
    border-left: 1px solid white;
    height: 81px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    color: white;
}

#send11 textarea {
    width: 99%;
    height: 80%;
    resize: none;
    margin: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    border: none;
    outline: none;

}

#text1 {
    height: calc(99% - 110px);
    width: 97.5%;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    resize: none;
    font-size: 1em;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

#senn {
    width: 30px;
    transition: 0.3s;
}

#senn:hover {
    rotate: -45deg;
    transform: translateY(-10%);
}

#senn:active {
    rotate: -45deg;
    transform: translateY(-10%);
    transform: translateX(20vw);
    transition: 0.06s;
}
#senc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

h1 {
    color: white;
}
p {
    color: white;
}
#send111 {
    background-color: black;
    color: white;
}

#back {
    position: fixed;
    top: 50px;
    left: 20px;
    background-image: url("https://user-cdn.hackclub-assets.com/019f1d87-a462-760c-b521-e70818175a47/Untitled%20design%20(61).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    width: 40px;
}

#back:hover {
    background-image: url("https://user-cdn.hackclub-assets.com/019f1d97-9aaf-7ce4-81ad-15977a6c7a34/Untitled%20design%20(62).png");
}