@font-face {
    font-family: face;
    src:url(assets/safiro-medium-webfont.ttf);
}

h1 {
    font-family: face;
    color: white;
    font-weight: 1;
    font-size: 36px;
}
body {
    background-color: black;
    background-image: url(https://i.pinimg.com/1200x/85/71/e8/8571e8965958d51ba9c3ba993429051a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
}

p::selection{
    background-color: white;
    color: black;
}
h1::selection{
    background-color: white;
    color: black;
}
input::selection{
    background-color: white;
    color: black;
}
textarea::selection{
    background-color: white;
    color: black;
}

#contain {
    background-color: black;
    height: 6vh;
    margin-bottom: 6vh;
}

.view-emails{
    margin-top: 10vh;
}
#prev1{
    height: 40px;
    background-color: black;
    border-top: 1px solid white;
    border-right: 2px solid white;
    border-bottom: 1px solid white;
    border-left: 2px solid white;
    display: flex;
    color: white;
    font-family: face;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}

.emailname {
    flex: 2;
}
.emailsub {
    flex:30;
}
.emailtime{
    flex:1;
    align-items: end;
}

.subject {
    background-color: black;
    height: 6vh;
    border: 1px solid white;
    margin-top: 1vh;
    display: flex;
    color: white;
    font-family: face;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    gap: 6px;
}

#emailtext {
    background-color: black;
    height: 65vh;
    margin-top: 3vh;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: face;
}

#back {
    position: fixed;
    top: 50px;
    left: 20px;
    background-image: url("https://user-cdn.hackclub-assets.com/019f1d87-a462-760c-b521-e70818175a47/Untitled%20design%20(61).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    width: 40px;
}

#back:hover {
    background-image: url("https://user-cdn.hackclub-assets.com/019f1d97-9aaf-7ce4-81ad-15977a6c7a34/Untitled%20design%20(62).png");
}