@font-face {
    font-family: face;
    src:url(assets/safiro-medium-webfont.ttf);
}

h1 {
    font-family: face;
    color: white;
    font-weight: 1;
    font-size: 36px;
}

button {
    font-family: face;
    color: white;
    font-weight: 1;
    font-size: 36px;
}

body {
    background-color: black;
    background-image: url(https://i.pinimg.com/1200x/85/71/e8/8571e8965958d51ba9c3ba993429051a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
}

button {
    background-color: black;
    padding: 15px;
    color: white;
    border-color: white;
    outline: none;
    border: none;
}

button:hover {
    background-color: white;
    color: black;
    cursor:auto;
}

.head {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-between;
    border: 2px solid white;
    padding-left: 3%;
    background-color: black;
    height: 60px;
    

}

.head h1 {
    margin: 0;
    padding: 15px;
}

#send {
    border-left: 2px solid white;
    padding-left: 4%;
    padding-right: 4%;
}
#sendarea {
    width: 40px;
}
p::selection{
    background-color: white;
    color: black;
}
h1::selection{
    background-color: white;
    color: black;
}
input::selection{
    background-color: white;
    color: black;
}
textarea::selection{
    background-color: white;
    color: black;
}
.view-emails{
    margin-top: 10vh;
}
#prev1{
    height: 40px;
    background-color: black;
    border-top: 1px solid white;
    border-right: 2px solid white;
    border-bottom: 1px solid white;
    border-left: 2px solid white;

    display: flex;
    color: white;
    font-family: face;
    padding-left: 5vw;
    padding-right: 5vw;
    align-items: center;
}
#prev1:hover {
    outline: 2px solid rgb(0, 0, 0);
}

.emailname {
    flex: 6;
}
.emailsub {
    flex:60;
}
.emailtime{
    flex:1;
    align-items: end;
}