@font-face {
    font-family: face;
    src:url(assets/safiro-medium-webfont.ttf);
}

h1 {
    font-family: face;
    color: white;
    font-weight: 1;
    font-size: 36px;
}

button {
    font-family: face;
    color: white;
    font-weight: 1;
    font-size: 36px;
}

body {
    background-color: black;
    background-image: url(https://i.pinimg.com/1200x/85/71/e8/8571e8965958d51ba9c3ba993429051a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
}

button {
    background-color: black;
    padding: 15px;
    color: white;
    border-color: white;
    outline: none;
    border: none;
}

button:hover {
    background-color: white;
    color: black;
    cursor:auto;
}

.head {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-between;
    border: 2px solid white;
    padding-left: 3%;
    background-color: black;
    height: 60px;
    

}

.head h1 {
    margin: 0;
    padding: 15px;
}

#send {
    border-left: 2px solid white;
    padding-left: 4%;
    padding-right: 4%;
}
#sendarea {
    width: 40px;
}
